services:
  - type: web
    name: dsd-ecommerce
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn ecommerce_project.wsgi:application"
    envVars:
      - key: SUPABASE_DB_HOST
        value: "db.xvhcmeshxeevpeuwzhzj.supabase.co"
      - key: SUPABASE_DB_PASSWORD
        value: "YohanTuite98"